body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}
.btn {
    width: 10rem;
}

/* header */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass-drafting {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #fe424d !important;
}

.search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 0.5rem 0 0.5rem;
}
.search-btn:hover {
    background-color: #fe424d;
    color: white;
}
.search-btn i{
    display: inline;
    padding-right: 0.5rem;
}
.search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.f-info {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    height: 8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 0.5rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.listing-link:hover {
    text-decoration: underline;
}

/* card effects */
.card-img-overlay {
    opacity: 0;
    transition: 100ms;
}

.card-img-overlay:hover {
    transition: 100ms;
    opacity: 0.12;
    background-color: white;
}

/* new listing  */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* edit listing */
.submit-btn {
    background-color: #fe424d !important;
    border: #fe424d !important;
}

/* show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* map  */
#map {
    height: 400px;
    width: 80vh;
}
